{% ckan_extends %}
{% block header_account_logged %}
<li>
  <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
    <label for="field-sitewide-search">{{ _('Search Datasets') }}</label>
    <img src="{{ h.url('/', locale='default', qualified=true) }}images/icon_search.png">
    <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search datasets...') }}" style="margin-top: 6px;" />
    <button class="btn-search" type="submit"><i class="icon-search"></i></button>
  </form>
</li>
{{ super() }}
{% endblock %}
</li>
{% block header_account_notlogged %}
<li>
  <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
    <!--1                    <div class="field"> -->
    <label for="field-sitewide-search">{{ _('Search Datasets') }}</label>
    <img src="{{ h.url('/', locale='default', qualified=true) }}images/icon_search.png">
    <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search datasets...') }}" style="margin-top: 6px;"/>
    <button class="btn-search" type="submit"><i class="icon-search"></i></button>
    <!--                    </div> -->
  </form>
</li>
{{ super() }}
{% endblock %}

{% block header_site_search %}
{% endblock %}
